<div class="container">
  <div class="row">
    <div class="col-md-12">
    <h1>Fractional Input</h1>
    <hr>
    </div>
  </div>
<div class="row">
  <div class="col-md-6">
    {{#with (changeset lineItem LineItemValidations) as |changeset|}}
      {{#validated-input
      propertyName="width"
      changeset=changeset
      as |blurred|}}
	{{fractional-input on-blur=blurred label-text="Width" value=changeset.width }}
      {{/validated-input}}

    {{fractional-input label-text="Left Height" value=lineItem.details.left_height}}

    {{fractional-input label-text="Right Height" value=lineItem.details.right_height }}
    <br/>
    Width: {{changeset.width}}
    Left Height: {{lineItem.details.left_height}}
    Right Height: {{lineItem.details.right_height}}
    {{/with}}
    <br/>
  </div>
</div>
</div>
